{% extends 'index.html' %}
{% block content %}

  <h1>Pagina alumnes</h1>
  <h2>Dades Alumnes:</h2>
    {% for k,v in  alumn.items %}
    <h3>{{ k }}</h3>
    <div>
        <label>
            Nom:
        </label>
             <a href="{% url 'alumn' v.id %}">{{ v.name }}</a>
    </div>
    <div>
        <label>
            Cognom:
        </label>
            {{ v.surname }}
    </div>
    <div>
        <label>
            Age:
        </label>
            {{ v.age }}
    </div>
     <div>
        <a href="{% url 'update_alumn' v.id %}">EDIT</a>
    </div>
    {% endfor %}

  
{% endblock %}