{% extends 'index.html' %}
{% block content %}

  <h1>Pagina alumnes</h1>
  <h2>Dades Alumnes:</h2>
    {% for alumno in alumn %}
    <h3>{{ alumno.id }}</h3>
    <div>
        <label>
            Nom:
        </label>
             <a href="{% url 'alumn' alumno.id %}">{{ alumno.nombre }}</a>
    </div>
    <div>
        <label>
            Cognom:
        </label>
            {{ alumno.apellido }}
    </div>
    <div>
        <label>
            Curs:
        </label>
            {{ alumno.curso }}
    </div>
    <div>
            <label>
                poblacion:
            </label>
                {{ alumno.poblacion }}
        </div>
    <div>
            <label>
                Clase:
            </label>
                {{ alumno.clase }}
        </div>
     <div>
        <a href="{% url 'update_alumn' alumno.id %}">EDIT</a>
         <a href="{% url 'delete_alumn' alumno.id %}">ELIMINAR</a>
    </div>
    {% endfor %}

{% endblock %}
