{% extends 'index.html' %}
{% block content %}

  <h1>Pagina Alumne</h1>
  <h2>Dades Alumne:</h2>

   <div>
        <label>
            Nom:
        </label>
             {{ alumn.nombre  }}
    </div>
    <div>
        <label>
            Cognom:
        </label>
            {{ alumn.apellido }}
    </div>
    <div>
        <label>
            Curs:
        </label>
            {{ alumn.curso }}
    </div>
    <div>
            <label>
                Poblacion:
            </label>
                {{ alumn.poblacion }}
        </div>
    <div>
            <label>
                Clase:
            </label>
                {{ alumn.clase }}
        </div>

    </br>
    <a href="{% url 'alumns' %}">Go back</a>
{% endblock %}