{% extends 'index.html' %}
{% block content %}

  <h1>Pagina profesor</h1>
  <h2>Dades Profesor:</h2>

   <div>
        <label>
            Nom:
        </label>
             {{ prof.nombre  }}
    </div>
    <div>
        <label>
            Cognom:
        </label>
            {{ prof.apellido }}
    </div>
    <div>
        <label>
            Curs:
        </label>
            {{ prof.curso }}
    </div>
    <div>
            <label>
                Poblacion:
            </label>
                {{ prof.poblacion }}
        </div>
    <div>
            <label>
                Clase:
            </label>
                {{ prof.clase }}
        </div>

    </br>
    <a href="{% url 'profs' %}">Go back</a>
{% endblock %}