{% extends 'index.html' %}

{% block content %}
  <h1>Profesores de la escuela</h1>
  {% for profesor in prof %}
    <div>
      <label>
        Nombre:
      </label>
      <a href="{% url 'prof' profesor.id %}">{{ profesor.nombre }}</a>
    </div>
    <div>
      <label>
        Apellido:
      </label>
      {{ profesor.apellido }}
    </div>
    <div>
      <label>
        Asignatura:
      </label>
      {{ profesor.curso }}
    </div>
    <div>
      <label>
        Población:
      </label>
      {{ profesor.poblacion }}
    </div>
    <div>
      <label>
        Clase:
      </label>
      {{ profesor.clase }}
    </div>
    <div>
      <a href="{% url 'update_prof' profesor.id %}">Editar</a>
      <a href="{% url 'delete_prof' profesor.id %}">ELIMINAR</a>
    </div>
  {% endfor %}
{% endblock %}
